<div class="login-container">
    <div class="login">
        <img src="../../assets/marvel-logo.png" class="logo" />
        <div>
            <div>
                <form>
                    <div class="user-input">                    
                        <label>Usuário:</label>
                        <input class="input-usuario" type="text"/>
                    </div>
                    <div class="password-input">
                        <label>Senha:</label>
                        <input class="input-senha" type="password"/>
                    </div>
                    <div>
                        <button class="btn" mat-raised-button color="primary" routerLink="/characters">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
