
<div fxFlex fxLayout="column">
    <div class="btn-container">
        <div class="btn character-route">
            <a routerLink="/characters" fxFlex mat-flat-button color="primary">
                Personagens
            </a>
        </div>
        <div class="btn logout-route">
            <a routerLink="/login" fxFlex mat-flat-button color="primary">
                Sair
            </a>
        </div>        
    </div>
    <div fxLayout="row wrap">        
        <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column"
        *ngFor="let comic of allComics" style="padding: 5px;">
        <mat-card>
            <img mat-card-image src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}" />
            <mat-card-title>
                <a href="{{comic.urls[0].url}}">
                {{comic.title}}
                </a>
            </mat-card-title>            
        </mat-card>        
        </div>
    </div>
</div>
